<nav class="menu">

  <div class="menuSmall">
    <button mat-icon-button color="primary" (click)="handleOpenMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo"><a routerLink="/about">Randomizer</a></div>
  </div>

  <ul class="menu__list  menu__list_left">
    <li>
      <a routerLink="/naming" routerLinkActive="active">
        Naming
      </a>
    </li>

    <li>
      <a routerLink="/custom" routerLinkActive="active">
        Custom
      </a>
    </li>

    <li>
      <a routerLink="/numbers" routerLinkActive="active">
        Numbers
      </a>
    </li>

    <!-- <li>
      <a>
        Words
        <img src="assets/arrow.svg" alt="arrow">
      </a>
    </li> -->

    <!-- <li>
      <a>
        Dates
      </a>
    </li>

    <li>
      <a>
        Entertainment
        <img src="../../assets/arrow.svg" alt="arrow">
      </a>
    </li> -->
  </ul>

  <ul class="menu__list menu__list_right">
    <li>
      <a routerLink="/about" routerLinkActive="active">
        About
      </a>
    </li>
  </ul>
</nav>
