<app-title [title]="title" [isSavedList]="true">
</app-title>

<form [formGroup]="form" (submit)="handleGenerateWord()">
  <div class="formLine formLine_1">
    <mat-form-field appearance="outline">
      <mat-label>Min word length</mat-label>
      <input matInput formControlName="minLength" type="number" min="1">
      <mat-error *ngIf="form.controls['minLength'].invalid">
        Increase your word length!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Max word length</mat-label>
      <input matInput formControlName="maxLength" type="number" min="1">
      <mat-error *ngIf="form.controls['maxLength'].invalid">
        Increase your word length!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Text style</mat-label>
      <mat-select formControlName="style">
        <mat-option
          *ngFor="let style of styleList"
          [value]="style"
        >
          {{ style }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Available letters</mat-label>
      <mat-select
        formControlName="letterCondition"
      >
        <mat-option
          *ngFor="let cond of letterConditionsAll"
          [value]="cond"
        >
          {{ cond }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Selected letters</mat-label>
      <mat-select
        formControlName="lettersSelected"
        multiple
      >
        <mat-option
          *ngFor="let letter of letterList"
          [value]="letter"
        >
          {{ letter }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['lettersSelected'].hasError('required') && !possibleLettersDisable">
        You didn't select any letter!
      </mat-error>
    </mat-form-field>
  </div>

  <section class="checkboxLine">
    <mat-checkbox
      class="checkbox"
      formControlName="identicalLetters"
    >
      Don't show words with two identical letters next to each other
    </mat-checkbox>
  </section>

  <div class="moreConditions">
    <p class="title">Add more conditions if needed:</p>

    <div class="formLine formLine_2">
      <mat-form-field appearance="outline">
        <mat-label>Starts with</mat-label>
        <input matInput formControlName="starts">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Includes inside</mat-label>
        <input matInput formControlName="includes">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ends with</mat-label>
        <input matInput formControlName="ends">
      </mat-form-field>
    </div>
  </div>

  <button
    class="sybmitButton"
    type="submit"
    mat-raised-button
    color="accent"
    [disabled]="form.invalid"
  >
    Generate word
  </button>
</form>

<app-word-generated
  [wordGenerated]="wordGenerated"
  [saveButton]="wordGenerated !== '---'"
  (onSaveWord)="handleSaveWord()"
  [saved]="saved"
>
</app-word-generated>
