@import '../shared/fonts'
@import '../shared/spacing'
@import '../shared/colors'

.wordSection
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  background-color: $primary-background-color
  border: 1px solid $primary-light-color
  border-radius: $small-spacing

  .wordSection__text
    font-size: $large-font
    color: $black-color
