<nav class="menu">
  <ul class="menu__list  menu__list_left">
    <li>
      <a routerLink="/naming" routerLinkActive="active">
        Naming
      </a>
    </li>

    <li>
      <a>
        Custom
      </a>
    </li>

    <li>
      <a>
        Numbers
      </a>
    </li>

    <li>
      <a>
        Words
        <img src="../../assets/arrow.svg" alt="arrow">
      </a>
    </li>

    <!-- <li>
      <a>
        Dates
      </a>
    </li>

    <li>
      <a>
        Entertainment
        <img src="../../assets/arrow.svg" alt="arrow">
      </a>
    </li> -->
  </ul>

  <ul class="menu__list menu__list_right">
    <li>
      <a routerLink="/about" routerLinkActive="active">
        About
      </a>
    </li>
  </ul>
</nav>
