body *
  box-sizing: border-box

body
  max-width: 1024px
  height: 100vh
  display: flex
  flex-direction: column
  margin: 0px auto
  overflow-y: hidden

  @media screen and (max-width: 1024px)
    padding: 0px 24px

  app-root
    display: flex
    flex-direction: column
    height: 100%

ul
  list-style-type: none
