@import 'fonts.sass'
@import 'spacing.sass'

:host
  @media screen and (max-width: 1024px)
    padding: 0px 24px

  .buttons
    display: flex
    align-items: center

  .savedWords
    display: flex
    flex-direction: column
    padding-left: $regular-spacing

    .savedWord
      display: flex
      flex-direction: row
      align-items: center

      p
        font-size: $regular-font
        margin-bottom: 0
        padding-top: 2px

