<app-title [title]="title">
  <div class="buttons">
    <button
      class="download"
      mat-button
      color="primary"
      [disabled]="noSaved"
      (click)="handleDownloadList()"
    >
      Download list
    </button>

    <button
      class="delete"
      mat-button
      color="warn"
      (click)="handleDeleteAllWords()"
      [disabled]="noSaved"
    >
      Delete all words
    </button>
  </div>

</app-title>


<ul class="savedWords">
  <li *ngFor="let word of savedList; let i = index">
    <div  class="savedWord" >
      <p>{{ word }}</p>

      <button mat-icon-button color="warn" (click)="handleDeleteWord(word)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </li>
</ul>

<p class="noSaved" *ngIf="noSaved">No element saved</p>

